@using RedditAPP.Data;
@inject ApiService apiService
@using RedditAPP.Shared.Models

<div>
    <br/>
    <h3>Write a comment</h3>
    <input placeholder="Content" type="input" id="content" @bind-value="content"/>
    <button id="createPostButton" type="button" @onclick="CreateNewComment">Post comment</button>
</div>

@code {

    // PostId is passed in from the parent component. See how in PostItem.razor.
    [Parameter]
    public int PostId { get; set; }
    private string? content;
    public Post Post { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Post = await apiService.GetPost(PostId);
        apiService.RefreshRequired += this.RefreshMe;

    }

    private async void CreateNewComment()
    {
        if (content == null)
        {
            return;
        }
        // TODO: Provide list of users from dropdown, or maybe just convert
        // from username to UserId
        await apiService.CreateComment(content, PostId, "Harry"); // UserId: 2
    }

    private async void RefreshMe()
    {
        Post = await apiService.GetPost(PostId);
        StateHasChanged();
        Console.WriteLine("Refreshed");
    }
}
