@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">

    <main>
        <div class="top-row px-4">
            <button class="create-button" @onclick = "HandleCreatePost">
                <span class="plus-sign">+</span> Create
            </button>

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
	private void HandleCreatePost()
	{
		NavigationManager.NavigateTo("/createpost");
	}
}
```