@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        <div class="top-row px-4 d-flex align-items-center">
            <a href="/" class="d-flex align-items-center text-decoration-none text-dark">
                <img src="https://www.redditstatic.com/desktop2x/img/favicon/android-icon-192x192.png" width="30" height="30" class="me-2" />
                <h4 class="mb-0">Reddit</h4>
            </a>
            <div class="ms-auto">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank" class="btn btn-outline-secondary">About</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
	private void HandleCreatePost()
	{
		NavigationManager.NavigateTo("/createpost");
	}
}
```