@inject IJSRuntime JS
@page "/"

<PageTitle>Kreddit</PageTitle>

<div class="front-page-container">
    <div class="front-page-text">
        <h1>Welcome to Kreddit</h1>       
        <p>Below you can read the most recent posts.</p>
        <a href="javascript:void(0)" class="btn btn-primary" @onclick="() => ScrollToPosts()">Explore Now</a>

    </div>
</div>





<PostList></PostList>

<footer class="app-footer">
    <div class="container">
        <h3>Notes about this app:</h3>
        <ul>
            <li>No user selection. User is hardcoded (Mads).</li>
        </ul>
    </div>
</footer>


@code {
    private async Task ScrollToPosts()
    {
        await JS.InvokeVoidAsync("scrollToPosts");
    }
}